<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.animal.cat.filter.MaskingLoggerLayoutFilter">
                <maskPattern>(\w*password([^\s+]*)"?\s?[(:?)|(=?)])(.*)</maskPattern>
                <pattern>
                    %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] trace-id=[%X{track-id}] %-5level - %logger{36}:%L - %msg%n
                </pattern>
            </layout>
        </encoder>
    </appender>

    <property name = "LOG_FILE" value = "animal_logging" />
    <property name = "LOG_PATH" value = "logs"/>
    <appender name = "FILE" class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/log.log</file>
        <encoder class = "ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] trace-id=[%X{track-id}] %-5level - %logger{36}:%L - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}-%d{yyyy-MM-dd_HH-mm}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level = "INFO">
        <appender-ref ref = "STDOUT"/>
        <appender-ref ref = "FILE"/>
    </root>

</configuration>